body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: hsl(227, 60%, 97%);
}

:root {
    --main-color: hsl(213, 84%, 24%);
    --bgColor: hsl(227, 60%, 97%);
}

.esconder {
    display: none !important;
}

.logo {
    margin-top: 40px;
    margin-left: 100px;
}

.pantallaJuego {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.botonesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    text-align: center;
}

.iniciarBtn {
    width: 320px;
    height: 115px;
    border-style: none;
    font-size: 18px;
    background-color: var(--main-color);
    border-radius: 25px;
    color: var(--bgColor);
    cursor: pointer;
}

.agregarPalabraBtn {
    margin-top: 40px;
    width: 280px;
    height: 67px;
    border-style: none;
    border: 1px solid var(--main-color);
    background-color: var(--bgColor);
    color: var(--main-color);
    border-radius: 20px;
    cursor: pointer;
}

.botonesEnJuego {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.nuevoJuegoBtn {
    width: 322px;
    height: 67px;
    border-style: none;
    margin-right: 20px;
    background-color: var(--main-color);
    color: var(--bgColor);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.desistirBtn {
    width: 322px;
    height: 67px;
    border-style: none;
    margin-right: 1vw;
    border: 1px solid var(--main-color);
    background-color: var(--bgColor);
    color: var(--main-color);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.palabraContainer {
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

.letras {
    width: 75px;
    min-height: 75px;
    margin: 10px 15px;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid var(--main-color);
}

.fallosContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    right: 200px;
    font-size: 24px;
    color: var(--main-color);
}

.mensaje {
    margin: 40px;
    font-size: 32px;
    text-align: center;
}

.errores {
    margin-left: 5px;
    color: tomato;
}

.agregarPalabraContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresePalabra {
    margin-bottom: 400px;
    position: relative;
    right: 120px;
    font-size: 32px;
    color: var(--main-color);
}

.maxLetras {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    right: 280px;
    font-size: 14px;
    color: hsl(210, 9%, 31%);
}

.exclamacion {
    width: 20px;
    margin-right: 5px;
}

h6 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 20px 0;
}

.gitHubLink {
    text-decoration: none;
    color: var(--main-color);
    padding-left: 5px;
    cursor: pointer;
}

/*Media queries*/
/*Tablet*/
@media (max-width: 900px){
    .logo {
        margin-top: 60px;
        margin-left: 45px;
    }

    .canvas {
        width: 600px;
        margin: 0;
    }

    .letras {
        margin: 10px;
        width: 50px;
        max-height: 20px;
        font-size: 32px;
    }

    .fallosContainer{
        position: relative;
        right: 15vw;
    }

    .nuevoJuegoBtn, .desistirBtn {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 250px;
        height: 55px;
        font-size: 14px;
    }

    .agregarPalabraContainer {
        margin-left: 50px;
        align-items: flex-start;
    }

    .ingresePalabra {
        margin-bottom: 300px;
        position: initial;
        font-size: 24px;
    }

    .maxLetras {
        position: initial;
    }

    .botonesAgregar {
        margin-bottom: 20px;
    }
}

/*Celular*/
@media (max-width: 480px){

    .logo {
        margin-top: 30px;
        margin-left: 20px;
    }

    .canvas {
        width: 400px;
    }

    .letras {
        margin: 5px;
    }
    .nuevoJuegoBtn, .desistirBtn {
        margin-right: 10px;
        width: 180px;
        height: 40px;
        font-size: 14px;
        border-radius: 10px;
    }

    .fallosContainer{
        position: relative;
        right: 15vw;
    }

    .agregarPalabraContainer {
        margin-left: 20px;
    }

    .botonesAgregar {
        flex-direction: column;
        justify-items: center;
    }
}